@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d0bef2;
}

.titulo {
    font-family: 'Quicksand', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: white
}