@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.footer-ig {
    width: 100vw;
    background-image: url(../../Assets/footer-bg.jpg);
}

.ig-instagram {
    font-size: 3rem;
    padding: 2rem;
}

.ig-seguinos {
    font-size: 1.5rem;
    background-color: white;
    padding: 1rem;
    width: 100px;
    border-radius: 20px;
}

.footer-container {
    background-color: #d0bef2;
    width: 100vw;
}

.footer-anchors {
    padding: 1.5rem;
}

.footer-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
}

.redes-instagram, .redes-wp, .anchor-inicio, .anchor-playa, .anchor-bosque, .anchor-montaña, .anchor-mundo {
    padding: 1rem;
}